.quem-somos{
    background-color: #d4d6d7;
}

.margin{
    padding-bottom: 100px;
    padding-top: 100px
}

.main-image{
    background-color: #1d5377;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
}
